h1{
    
    color: rgba(244, 240, 190, 0.965);
    font-size: 2em;
}


.abc {
    
    margin: 0;
    padding: 0;
    list-style: none;
    height: 40px;
    width: 640px;
    background-color: rgb(75, 72, 73);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    line-height: 40px;
    border-radius: 15px;
}

li {
    float: left;
    border-right:rgb(232, 136, 53) ;
    font-size: 20px;
    list-style: none;

}

a {
    display: block;
    padding: 0 37.8px;
    color: rgb(232, 136, 53);
    text-decoration: none;

}
.active a ,a:hover {
    background-color:rgb(29, 28, 28) ;
}



ol {
    vertical-align: middle;
    color: rgba(165, 42, 42, 0);
    font size: 35px;
    list-style: none;
    height: 40px;
    width: 640px;
    background-color: transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    
}